{% extends "core/base.html" %}

{%block title%} Noticias {%endblock%}

{% block image-header %} Noticias {%endblock%}

{%block title-header%} 
<body>
    <h1>Noticias</h1>
{% for post in posts %}
<p>Fecha de Publicación: {{post.published|date:"SHORT_DATE_FORMAT"}}</p>
<p>titulo: {{post.title}}</p>
<p>Detalle: {{post.content}}</p>
<p>Autor: {{post.author}}</p>
<hr>

{% endfor %}
{% for c in category %}
<p><a href="{% url 'category' c.id %}">{{c.name}}</a></p>
{% endfor %}
</body>
{%endblock%}
</html>