{% extends "core/base.html" %}

{%block title%} Contacto {%endblock%}

{% block image-header %} contact {%endblock%}

{%block title-header%} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <h3 class="fs-2">Consultas</h3>
</div>
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Aqui referiria mi correo y como puedes contactarme y porque, pero como no soy ingeniero todavia, no pondre nada por ahora.</p>
      <br>
      <p><b>Teléfono:</b> No pondre mi numero aun.</p>
      <p><b>Honorarios:</b> A convenir</p>
    </div>
  </div>
{%endblock%}