{% extends "core/base.html" %}

{%block title%} Inicio {%endblock%}

{% block image-header %} home {%endblock%}

{%block title-header%} 
<div>
    <h1 class="display-4 fw-bold">Aramis Arenas</h1>
</div>
<div>
    <h3 class="fs-2">Ingeniero en informatica</h3>
</div>
{%endblock%}

{%block content%}
<h1 class="fw-lighter fst-italic px-5">Bienvenido a mi Portafolio virtual y dinamico, aqui encontraras mis proyectos, certificaciones, titulos y proyectos en los que estoy actualmente desarrollando. </h1>

{%endblock%}